<robot name="simple_torso">
  <link name="my_box">
    <inertial>
      <origin xyz="0 0 0" /> 
      <mass value="0.1" />
      <inertia  ixx="0.001" ixy="0.0"  ixz="0.0"  iyy="0.001"  iyz="0.0"  izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.03"/>
      <geometry>
         <mesh filename="/home/jmainpri/workspace/move3d/assets/URDFDemo/URDF/meshes/torso/base_link.obj"/>
      </geometry>
    </visual>
  </link>
</robot>

